.u-section-1 .u-sheet-1 {
  min-height: 2226px;
}

.u-section-1 .u-text-1 {
  margin: 53px auto 0;
}

.u-section-1 .u-shape-1 {
  width: 250px;
  height: 156px;
  margin: 14px auto 0 42px;
}

.u-section-1 .u-text-2 {
  margin: -82px 867px 0 60px;
}

.u-section-1 .u-shape-2 {
  width: 250px;
  height: 156px;
  transform-origin: center center 0px;
  transform: scaleX(-1);
  margin: -131px 92px 0 auto;
}

.u-section-1 .u-text-3 {
  margin: -82px 108px 0 834px;
}

.u-section-1 .u-text-4 {
  margin: 82px -40px 0 686px;
}

.u-section-1 .u-text-5 {
  margin: -216px 730px 0 -47px;
}

.u-section-1 .u-text-6 {
  margin: 80px auto 0 -39px;
}

.u-section-1 .u-text-7 {
  margin: -29px -277px 0 705px;
}

.u-section-1 .u-text-8 {
  margin: 66px -15px 0 681px;
}

.u-section-1 .u-text-9 {
  margin: -42px 669px 0 -52px;
}

.u-section-1 .u-text-10 {
  margin: 27px 699px 0 0;
}

.u-section-1 .u-icon-1 {
  width: 47px;
  height: 47px;
  margin: -78px auto 0 -72px;
  padding: 0;
}

.u-section-1 .u-text-11 {
  margin: 50px -65px 0 641px;
}

.u-section-1 .u-text-12 {
  margin: -46px -61px 0 auto;
}

.u-section-1 .u-text-13 {
  margin: -436px 628px 0 -47px;
}

.u-section-1 .u-text-14 {
  margin: -49px 80px 0 662px;
}

.u-section-1 .u-text-15 {
  margin: 51px 771px 60px -72px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2317px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 1951px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -2069px;
    margin-right: 728px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 1547px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -1702px;
    margin-right: 40px;
    margin-left: 734px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -32px;
    margin-left: 486px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -255px;
    margin-right: 530px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -43px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -123px;
    margin-left: 505px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 100px;
    margin-left: 481px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -43px;
    margin-right: 469px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 528px;
    margin-right: 499px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 38px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -784px;
    margin-left: 466px;
  }

  .u-section-1 .u-text-12 {
    margin-top: -55px;
  }

  .u-section-1 .u-text-13 {
    margin-top: -267px;
    margin-right: 428px;
  }

  .u-section-1 .u-text-14 {
    margin-top: -57px;
    margin-right: 0;
    margin-left: 542px;
  }

  .u-section-1 .u-text-15 {
    margin-top: 1732px;
    margin-right: 571px;
    margin-bottom: -903px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 508px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 522px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 266px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 310px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 285px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 261px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 249px;
  }

  .u-section-1 .u-text-10 {
    margin-right: 279px;
  }

  .u-section-1 .u-text-11 {
    margin-left: 246px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 208px;
  }

  .u-section-1 .u-text-14 {
    margin-left: 322px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 351px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2322px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 1969px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -2087px;
    margin-right: 328px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 1566px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -1720px;
    margin-left: 342px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 86px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 130px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -124px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 81px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 69px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 593px;
    margin-right: 99px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 18px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -819px;
    margin-right: -57px;
    margin-left: 66px;
  }

  .u-section-1 .u-text-12 {
    margin-top: -58px;
  }

  .u-section-1 .u-text-13 {
    margin-top: -332px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-14 {
    margin-top: 8px;
    margin-left: 142px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 171px;
    margin-bottom: -947px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2226px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 1883px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -1972px;
    margin-right: 128px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 521px;
    margin-right: 90px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -704px;
    margin-left: 142px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 32px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: -427px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-top: -63px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -17px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 15px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-top: -86px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-top: 1324px;
    margin-right: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -122px;
  }

  .u-section-1 .u-text-11 {
    margin-top: -1482px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    margin-top: 335px;
  }

  .u-section-1 .u-text-13 {
    margin-top: -699px;
  }

  .u-section-1 .u-text-14 {
    margin-top: 29px;
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin: -186px 0 2px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1066px;
}