.u-section-1 .u-sheet-1 {
  min-height: 100px;
}.u-section-2 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-2 .u-form-1 {
  height: 186px;
  --progress-spacing: 20px;
  --bar-size: 3px;
  --bar-default-color: #164a41;
  --bar-active-color: #164a41;
  --step-icon-size: 10px;
  
  --step-icon-border-width: 0px;
  --step-icon-border-radius: 50px;
  --step-icon-border-color: #808080;
  --step-icon-default-color: #164a41;
  --step-icon-done-color: #164a41;
  --step-icon-active-color: #164a41;
  --step-icon-text-default-color: #164a41;
  --step-icon-text-done-color: #164a41;
  --step-icon-text-active-color: #164a41;
  --step-text-default-color: #164a41;
  --step-text-done-color: #164a41;
  --step-text-active-color: #164a41;
  width: 1064px;
  margin: 17px auto 60px;
}

.u-section-2 .u-form-group-1 {
  margin-top: 20px !important;
}

.u-section-2 .u-form-group-3 {
  margin-left: 0;
}

.u-section-2 .u-form-group-4 {
  margin-left: 0;
}

.u-section-2 .u-form-group-5 {
  margin-left: 0;
}

.u-section-2 .u-form-group-6 {
  margin-left: 0;
}

.u-section-2 .u-form-group-7 {
  margin-left: 0;
}

.u-section-2 .u-form-group-8 {
  margin-left: 0;
}

.u-section-2 .u-form-group-9 {
  margin-left: 0;
}

.u-section-2 .u-form-group-10 {
  margin-left: 0;
}

.u-section-2 .u-form-group-11 {
  margin-left: 0;
}

.u-section-2 .u-form-group-12 {
  margin-left: 0;
}

.u-section-2 .u-form-group-13 {
  margin-left: 0;
}

.u-section-2 .u-form-group-14 {
  margin-left: 0;
}

.u-section-2 .u-form-group-15 {
  margin-left: 0;
}

.u-section-2 .u-form-group-16 {
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-form-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-form-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-form-1 {
    width: 340px;
  }
}